.buttonblue_p {
  color: white;
  // padding-bottom: -0.5rem !important;
  margin-bottom: 0rem !important;
  //   transition: all 1s ease-in-out;
}

.buttonblue_div {
  display: inline-block;
  padding: 0.25rem 1rem;
  border: 1px solid white;
  border-radius: 15px;
  background-image: linear-gradient(90deg, #9527dd, #4e087c);
  //   transition: all 1s ease-in-out;

  &:hover {
    background-image: linear-gradient(90deg, white, white);
    transition: all 1s ease-out;
    // .buttonblue_text {
    //   color: #9527dd;
    //   transition: all 1s ease-out;
    // }
  }
}

.buttonblue_internal {
  margin: auto !important;
  justify-content: center !important;
  // padding-top: 1rem;
}

// .buttonblue_div:hover {
//   background-image: linear-gradient(90deg, white, black);

//   .buttonblue_text {
//     color: #9527dd;
//     transition: all 1s ease-out;
//   }
//   transition: all 1s ease-out;
// }
