.nav_logo_text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  float: right;
  display: inline-block;
}

.nav_logo {
  // max-width: 10vw;
  // margin-right: 1rem;
  // margin-left: -3rem;
  // margin-bottom: -3rem;
  // margin-top: -2rem;
  // @include xs() {
  //   max-width: 10vw;
  //   margin-right: 1rem;
  //   margin-left: -3rem;
  //   margin-bottom: -3rem;
  //   margin-top: -2rem;
  // }
  // @include sm() {
  //   max-width: 8vw;
  // }
  // @include md() {
  //   max-width: 5.5vw;
  // }
  // @include lg() {
  //   max-width: 3.5vw;
  //   margin-right: 20px;
  //   margin-bottom: 0rem;
  //   margin-top: -0.7rem;
  // }
}

// .navbar_container {
//   .top {
//     top: 0px;
//   }

//   .nav_style {
//     background-color: $black;
//     padding: 0;
//     top: 0px;
//   }

//   // .nav_logo {
//   //   @include xs() {
//   //     max-width: 10vw;
//   //     margin-right: 1rem;
//   //     margin-left: -3rem;
//   //     margin-bottom: -3rem;
//   //     margin-top: -2rem;
//   //   }
//   //   @include sm() {
//   //     max-width: 8vw;
//   //   }
//   //   @include md() {
//   //     max-width: 5.5vw;
//   //   }
//   //   @include lg() {
//   //     max-width: 3.5vw;
//   //     margin-right: 20px;
//   //     margin-bottom: 0rem;
//   //     margin-top: -0.7rem;
//   //   }
//   // }

//   .nav_brand {
//     color: $white;
//     font-family: "Roboto", sans-serif;
//     font-weight: 800;
//     align-content: center;
//     @include xs() {
//       font-size: 1.5rem;
//       margin-top: -1.5rem;
//     }
//     @include lg() {
//       // margin-right: 10rem;
//       font-size: 2rem;
//       margin-bottom: 0;
//     }
//     //   @include xl() {
//     //     font-size: 2.75rem;
//     //   }
//   }

//   .nav_brand_span {
//     color: $gold-dark;
//   }

//   .nav_brand_invisible {
//     color: #363636;
//   }

//   .nav_link {
//     font-family: "Roboto", sans-serif;
//     font-weight: 400;
//     color: rgb(130, 130, 130);
//     @include xs() {
//       margin-right: 1rem;
//     }
//     @include md() {
//       font-size: 1.1rem;
//     }
//     @include lg() {
//       font-size: 1.1rem;
//     }
//     @include xl() {
//       font-size: 1.2rem;
//     }
//     transition: color 0.3s ease-out;
//   }

//   .nav_link:hover {
//     text-decoration: none;
//     color: $white;
//     transition: color 0.3s ease-out;
//   }

//   .nav_link:active {
//     color: $gray-400;
//   }

//   .nav_button {
//     margin-left: 10px;
//     background-color: $gold-dark;
//     color: $black;
//     @include md() {
//       // padding-left: 10px;
//       // padding-right: 10px;
//       min-width: 130px;
//     }
//     transition: background-color 0.3s;
//   }

//   .nav_button:hover {
//     background-color: $gold-light;
//     color: $black;
//     transition: background-color 0.3s;
//   }
// }
