.overview_bg {
  background: cover;
  background-color: white;
  min-height: 100%;
  max-height: 55vh;
  //   padding-top: 3rem;
  //   z-index: -1;
}

.overview_section_h {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.35rem;
  color: #4e087c;
}

.overview_section_p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
  color: #4e087c;
}
