@import "../../scss/style.scss";

.explore_bg {
  background: cover;
  //   background-image: linear-gradient(90deg, #9527dd, #4e087c);
  background-color: $white;
  min-height: 100%;

  margin-bottom: 10rem;
  //   z-index: 1;
  padding-bottom: 3rem;
}

.explore_btn_width {
  width: 100%;
}

.explore_btn_row {
  display: flex !important;
  text-align: center !important;
  justify-content: center !important;
  align-content: center !important;
}
